[Desktop Entry]
Type=Application
Name=Pisa Meeting Slideshow
Exec=/usr/bin/python3 /home/pi/pisameet/bin/browser.py /home/pi/pisameet/pm2022/pm2022.xlsx
